@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: #36c;
}

.title {
  font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
  font-size: 1.8em;
  line-height: 1.375;
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #a2a9b1;
}

.heading {
  font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
  font-size: 1.5em;
  line-height: 1.375;
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
}

.heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #a2a9b1;
}

.icon-indent {
  margin-left: 10px; /* Adjust this value as needed */
}
